.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 3rem;
  position: relative;
}

.form-wrapper h2 {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.form-button-wrapper {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  align-items: center;
  margin-bottom: 2rem;
}

.button.prev-step-button {
  margin-right: 1rem;
  flex: 0 1 auto;
}

.error {
  color: rgb(216, 67, 21);
  text-align: center;
  width: 100%;
}
